body { 
    margin: 0;
    height: 100vh;
    background: url('back2.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
}

.overlay {
    background: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    max-width: 500px;
    border: 3px solid #ff758c;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

h2 {
    color: #ff477e;
}

p { 
    color: #555;
    font-size: 1.2rem;
}

button { 
    background: #ff758c; 
    color: white; 
    padding: 15px 30px; 
    border: none; 
    border-radius: 50px; 
    cursor: pointer; 
    font-size: 1.1rem;
    margin-top: 20px;
    transition: transform 0.3s ease, background 0.3s ease; 

}
.pics { 
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
     
}

.pic-1, .pic-2 {
    width: 180px;           
    height: auto;        
    border-radius: 15px;    
    margin: 10px;           
}

button:hover { background: #ff477e; }

.sticker { 
    width: 150px;
    margin-bottom: 10px;
    border-radius: 15px;    


}
#final-msg { 
    display: none;

}
